img {
    width: 100px;
    float: left;
    margin-right: 10px;
}

body {
    color: darkblue;
    background-color: ivory;
    margin: 10px 50px 10px 50px;
}

h1, h2 {
    font-family: 'Oswald';
}

p, li {
    font-family: 'Open Sans';
}

.column-container {
    display: table;
    width: 100%;
}

.column {
    display: table-cell;
    padding: 0 10px 0 10px;
}

div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div > ul > li {
    display: inline;
}

div > ul > li > a {
    margin-left: 75px;
    margin-right: 75px;
}