img {
    width: 100px;
    float: left;
    margin-right: 5px;
}

body {
    color: darkblue;
    background-color: ivory;
    margin: 10px 50px 10px 50px;
}

h1 {
    font-family: 'Oswald';
}

h2 {
    font-family: 'Oswald';
}

p, a, li {
    font-family: 'Open Sans';
}